img {
	width: 300px;
	height: 300px;
}
table {
	background-color: #F2E794;
}
th {
	text-align: center;
	background-color: #EDDE68;
}
td {
	text-align: center;
	font-style: italic;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
	background-color: #d4af37;
}
.metal {
	font-family: 'Metal Mania', cursive;
}
.italics {
	font-style: italic;
}
.image {
	background-image: url("http://vignette1.wikia.nocookie.net/leagueoflegends/images/0/07/Pentakill_-_Smite_and_Ignite.jpg/revision/latest/scale-to-width-down/300?cb=20140603224916");
	background-repeat: no-repeat;
	background-attachment: fix;
	background-position: center;
	height: 300px;
}