img {
	width: 300px;
	height: 300px;
}
table {
	background-color: #F2E794;
}
th {
	text-align: center;
	background-color: #EDDE68;
}
td {
	text-align: center;
	font-style: italic;
}
a {
	text-decoration: none;
	color: black;
}
h3 {
	text-align: center;
}
a:hover {
	text-decoration: underline;
	background-color: #d4af37;
}
.metal {
	font-family: 'Metal Mania', cursive;
}
.italics {
	font-style: italic;
}
tr:nth-child(odd) {
	background-color: #F2E794;
}