img {
	width: 300px;
	height: 300px;
}
th {
	text-align: center;
}
.metal {
	font-family: 'Metal Mania', cursive;
}
.italics {
	font-style: italic;
}
.image {
	background-image: url("http://vignette1.wikia.nocookie.net/leagueoflegends/images/0/07/Pentakill_-_Smite_and_Ignite.jpg/revision/latest/scale-to-width-down/300?cb=20140603224916");
	background-repeat: no-repeat;
	background-attachment: fix;
	background-position: center;
	height: 300px;
}