ul {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}
li {
	float: left;
}
a {
	display: block; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none;"
}
h1 {
	text-align: center;"
}
h4 {
	text-align: center;
}