ul {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}
li {
	float: left;
}
a {
	display: block; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none;
}
a:visited {
	color: red;
}
a:hover {
	font-weight: bold;
}
h1 {
	text-align: center;
	font-family: 'Patrick Hand SC', cursive;
}
h4 {
	text-align: center;
}